/.vscode
/a.exe
/Calender Answers.txt
/Calender_Puzzle_Solutions.pdf
/input.txt
/main.exe
/outTest.txt
/puzzleReference (Recovered).docx
/puzzleReference.docx
/puzzleRepresentation.cpp
/puzzleRepresentation.exe
/solutions_DB.h
/test.txt